.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: .5rem;

  & > div:first-child, & > a {
    margin-left: auto;
  }

  svg {
    font-size: var(--font-size-sm);
  }

  @media screen and (max-width: $mobile-nav-footer-breakpoint) {
    flex-direction: column;
    margin-bottom: 1rem;
    align-items: center;

    & > div:first-child, & > a {
      margin-left: initial;
    }

    div,
    span {
      margin-left: 0;
    }
  }
}