.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: .5rem;

  div {
    margin-left: auto;
  }

  span {
    margin-left: auto;
  }

  svg {
    font-size: var(--font-size-sm);
    margin: 0 .25rem;
  }
}