.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: .5rem;

  &>div:first-child {
    margin-left: auto;
  }

  &>a {
    margin-left: auto;
  }

  svg {
    font-size: var(--font-size-sm);
    margin: 0 .25rem;
  }

  @media screen and (max-width: $mobile-upper-limit) {
    flex-direction: column;
    margin-bottom: 1rem;
    align-items: center;

    div,
    span {
      margin-left: 0;
    }
  }
}