a {
  text-decoration: underline;
  color: var(--link-color);

  &:visited {
    color: var(--visited-link-color);
  }

  &:hover {
    cursor: pointer;
  }

  &.icon-link {
    text-decoration: none;
  }
}