.site-nav {
  background: transparent;
  position: fixed;
  width: 100%;
  transition: background 0.5s ease-in-out;

  // Since the site-nav is fixed and out of the document flow
  // we need the placeholder to push the rest of the content down
  &-placeholder {
    height: var(--site-nav-height);
  }

  &--alt-color {
    a {
      color: white;
    }
  }


  &--scrolled {
    background: white;
    transition: background 0.5s ease-in-out;
    z-index: 3;

    a {
      color: black;
    }
  }
}

.nav {
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: right;

  &__main {
    a {
      font-size: var(--font-size-md);
      margin-right: 1.5rem;
      font-weight: 600;

      &.active {
        text-decoration: underline;
      }
    }

    @media screen and (max-width: $mobile-upper-limit) {
      display: none;
    }
  }

  &__mobile {
    visibility: hidden;
    position: absolute;
    background: white;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    z-index: 2;
    transition: all 0.25s ease-out;
    opacity: 0;

    &--open {
      height: 80vh;
      visibility: visible;
      opacity: 1;
    }
  }

  &__hamburger {
    visibility: visible;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: .5rem;
    height: 3rem;
    width: 3rem;
    z-index: 4;

    @media screen and (min-width: $mobile-upper-limit) {
      visibility: hidden;
    }

    span {
      height: 2px;
      width: 40px;
      background: black;
      transition: all 0.25s ease-out;
    }
    &--open {
      // Transition lines to an X
      span:first-child {
        transform: rotate(45deg) translate(5px, 5px);
      }

      span:nth-child(2) {
        display: none;
      }

      span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -3px);

      }
    }
  }
}