@import "_variables.scss";
@import "_breakpoints.scss";
@import "_icon.scss";
@import "_links.scss";
@import "_nav.scss";
@import "_section.scss";
@import "_maincontentsection.scss";
@import "_layout.scss";
@import "_footer.scss";
@import "_type.scss";
@import "_tabs.scss";
@import "_image.scss";

// Resets
ul {
  list-style-type: none;
  padding: 0;
}

.site-root {
  container-name: site-root-container;
  container-type: inline-size;
}


html {
  --site-nav-height: 5rem;
  --site-content-width: 1232px;
  --footer-height: 3rem;


  --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);

  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --line-height-base: clamp(1.5rem, 0.34vw + 0.91rem, 1.547rem);

  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);

  --icon-size: 1rem;

  --link-color: blue;
  --nav-link-color: black;
  --divider-color: #ECECF5;
}