---
import Layout from '../layouts/Layout.astro';
import HeaderSection from '../layouts/HeaderSection.astro';
import MainContentSection from '../layouts/MainContentSection.astro';
import Album from '../components/Album.astro';
import { AlbumData } from '../data/albumData';

const title = 'Albums';
const sectionClassName = 'albums';
---

<Layout
  title='Anton Emery | Albums'
  description='The albums of Anton Emery, celtic fingestyle guitarist'
  keywords='celtic, guitar, acoustic, sheet musc, tabs'
>
  <HeaderSection
    sectionClassName={sectionClassName}
    imagePath='/src/assets/in-the-studio.jpeg'
    altText='Anton recording guitar in the studio'
  />
  <MainContentSection title={title}>
    <div>
      {AlbumData.map((album) => <Album {...album} />)}
    </div>
  </MainContentSection>
</Layout>
