---
import Layout from "../layouts/Layout.astro";
import HeaderSection from "../layouts/HeaderSection.astro";
const sectionClassName = "home";
const title = "Anton Emery - Celtic Guitar";
---

<Layout
  title="Anton Emery - Celtic Guitar"
  description="celtic music on fingerstyle guitar"
  keywords="celtic, fingerstyle, acoustic, guitar"
>
  <HeaderSection sectionClassName={sectionClassName} title={title} />
  <section>
    <h1>Heading</h1>
    <h4>Sub heading</h4>
    <p>Paragraph</p>
  </section>
</Layout>
