---
import Layout from '../layouts/Layout.astro';
import HeaderSection from '../layouts/HeaderSection.astro';
import MainContentSection from '../layouts/MainContentSection.astro';
import YouTubeEmbed from '../components/YouTubeEmbed.astro';

const sectionClassName = 'home';
const title = 'Anton Emery - Celtic Fingerstyle Guitarist';
---

<Layout
  title='Anton Emery | Celtic Fingerstyle Guitar'
  description='The music of celtic fingerstyle guitarist Anton Emery'
  keywords='celtic, fingerstyle, acoustic, guitar, fingerpicking, tabs'
>
  <HeaderSection
    sectionClassName={sectionClassName}
    imagePath='/src/assets/backyard-guitar.jpg'
    altText='Anton in the backyard'
  />
  <MainContentSection title={title}>
    <p>
      Hi, and welcome to my website! My name is Anton Emery and I am eager to
      share with you the art of celtic music played on fingerstyle guitar. What
      is "celtic fingerstyle guitar" you might ask? If I am to attempt a
      definition, it is taking traditional celtic melodies, usually played on
      instruments like the flute, fiddle, or bagpipes, and presenting these
      melodies as a solo guitar arrangment. This involves adding bass notes and
      inner voicings, as well as guitar specific technitques, to present
      something new while having one foot in the tradition.
    </p>

    <p>
      On the Tabs page there are free PDF's of some of my arrangements, as well
      as links to Youtube videos and audio downloads. I'll be adding more
      content to help folks put together their own arrangments, as that is where
      I feel the real fun begins. If there are any specific topics you would
      like me to cover, please let me know.
    </p>

    <YouTubeEmbed id='apEyOGkT2-U' />

    <p>
      Besides celtic music on guitar I play a handful of other instruments and
      enjoy listening to and exploring other styles of music. I've been playing
      irish flute for 20 years, if I am at a session I am probably playing that
      more than rhythm guitar. I play old time clawhammer banjo, and more
      recently decided to tackle the fiddle. I enjoy playing fingerstyle blues
      and early jazz, and can flatpick the occasional bluegrass tune. To me they
      are all branches off the same tree, and playing in one style informs
      another.
    </p>
  </MainContentSection>
</Layout>
