---
import Layout from '../layouts/Layout.astro';
const sectionClassName = 'home'
---

<Layout title="Anton Emery - Celtic Guitar" description="celtic music on fingerstyle guitar" keywords="celtic, fingerstyle, acoustic, guitar">
	<main class=`section section--${sectionClassName}` data-header>
	</main>
</Layout>