---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Anton Emery - Celtic Guitar" description="celtic music on fingerstyle guitar" keywords="celtic, fingerstyle, acoustic, guitar">
	<main class="section" data-header>
	</main>
</Layout>