---
import Layout from "../layouts/Layout.astro";
const sectionClassName = 'tabs';
---

<Layout title="Celtic guitar tabs" description="Celtic guitar tabs and sheet music with audio and video examples", keywords="celtic, guitar, acoustic, sheet musc, tabs">
  <main class=`section section--${sectionClassName}` data-header>
    <h1>Tabs page</h1>
  </main>
</Layout>