<footer class="footer site-content-width">
  <div>
    <svg class="icon icon--32">
      <use href=/icon/instagram.svg#instagram />
    </svg>
    <svg class="icon icon--32">
      <use href=/icon/instagram.svg#facebook />
    </svg>
    <svg class="icon icon--32">
      <use href=/icon/instagram.svg#youtube />
    </svg>
    <svg class="icon icon--32">
      <use href=/icon/instagram.svg#envelope />
    </svg>
  </div>
  <span>Built with Astro</span>
</footer>