---
import { Picture } from 'astro:assets';

interface Props {
  imagePath: string;
  altText: string;
  caption?: string;
}

const { imagePath, altText, caption } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/assets/*.{jpeg,jpg,png,gif}',
);

const imageModule = await images[imagePath]();
const image = imageModule.default;
---

<div class='section__figure'>
  <figure class='figure'>
    <Picture
      src={image}
      alt={altText}
      pictureAttributes={{
        style: 'max-width: 600px { width: 100%; height: auto; }',
      }}
    />
    {caption && <figcaption>{caption}</figcaption>}
  </figure>
</div>
