---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
import { MobileNav } from './MobileNav.tsx';
const isAltNavColor = ['about/', 'tabs/'].includes(currentPath);
---

<script>
  const header = document.querySelector('.site-nav');
  const options = {
    // rootMargin: '900px 0px 90px 0px',
    rootMargin: '0px 0px -100% 0px',
    threshold: 0
  }

  const callback = (entries, observer) => {
    entries.forEach(entry => {
      if (entry.isIntersecting && header) {
        header.classList.add('site-nav--scrolled');
      } else if (!entry.isIntersecting && header) {
        header.classList.remove('site-nav--scrolled');
      }
    })
  }

  const observer = new IntersectionObserver(callback, options)

  const targetEl = document.querySelector('[data-header]')

  observer.observe(targetEl)
</script>

<header class:list={["site-nav", {'site-nav--alt-color': isAltNavColor}]}>
  <nav class="site-content-width nav">
    <div class="nav__main">
      <a class={currentPath === '' ? 'active' : ''} href="/"<span>Home</span></a>
      <a class={currentPath === 'about/' ? 'active' : ''} href="/about/"<span>About</span></a>
      <a class={currentPath === 'tabs/' ? 'active' : ''} href="/tabs/"<span>Tabs</span></a>
    </div>
    <MobileNav client:load />
  </nav>
</header>
<div class="site-nav-placeholder"></div>

