<script>

  const header = document.querySelector('.site-nav');
  const options = {
    rootMargin: '900px 0px 90px 0px',
    threshold: .9
  }

  const callback = (entries, observer) => {
    entries.forEach(entry => {
      if (entry.isIntersecting && header) {
        header.classList.add('site-nav--scrolled');
      } else if (!entry.isIntersecting && header) {
        header.classList.remove('site-nav--scrolled');
      }
    })
  }

  const observer = new IntersectionObserver(callback, options)

  const targetEl = document.querySelector('[data-header]')

  observer.observe(targetEl)
</script>

<header class="site-nav">
  <nav class="site-content-width nav">
    <div class="nav__main">
      <span>Home</span>
      <span>About</span>
      <span>Tabs</span>
    </div>
  </nav>
</header>
<div class="site-nav-placeholder"></div>

