---
import MobileNav from './MobileNav.astro';
import { parseHref } from '../lib/helpers.js';

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"

interface MenuLink {
  name: string;
  href: string;
}

const menuLinks: MenuLink[] = [
  { name: 'Home', href: '/' },
  { name: 'About', href: '/about/' },
  { name: 'Albums', href: '/albums/' },
  { name: 'Tabs', href: '/tabs/' },
  { name: 'Gear', href: '/gear/' },
  // { name: 'Blog', href: '/blog/' },
];
---

<header class='site-nav'>
  <nav class='site-content-width nav'>
    <a href='/' class='nav-home-link'>Anton Emery - Celtic Guitar</a>
    <div class='nav__main'>
      {
        menuLinks.map((link) => (
          <a
            class={currentPath === parseHref(link) ? 'active' : ''}
            href={link.href}>
            {link.name}
          </a>
        ))
      }
    </div>
    <button class='nav__hamburger' aria-label='toggle nav menu'>
      <span></span>
      <span></span>
      <span></span>
    </button>
  </nav>
</header>

<MobileNav menuLinks={menuLinks} />

<div class='site-nav-placeholder'></div>
