---
import Divider from './Divider.astro';
import AudioPlayerAndLinks from './AudioPlayerAndLinks.astro';
import { Tabs } from '../data/tabs';
---

<p>
  When I first started arranging celtic tunes I found it very insightful to
  study and learn arrangements by other players. In that spirit, here are a
  handful of my arrangements, with links to audio files, notation, and a youtube
  video if there is one. I hope that they may help some of you interested in
  playing and arranging celtic tunes. I think the real fun happens when you take
  techniques and styles learned from other players and apply them to your own
  arrangements.
</p>
<p>
  Some of these tunes do not have accompanying YouTube video. I will work on
  adding those in the future.
</p>
<p>
  Have you enjoyed listening to my music or found these TABs helpful? The best
  way to support me is to buy some of my music on <a
    href='https://antonemery.bandcamp.com'
    target='_blank'
    rel='noopener noreferrer'>Bandcamp</a
  > or perhaps consider <a
    href='https://buymeacoffee.com/antonemery'
    target='_blank'
    rel='noopener noreferrer'>buying me a coffee</a
  >.
</p>

<Divider />

{
  Tabs.map((tab) => (
    <>
      <section>
        <h2 class='h4'>{tab.title}</h2>
        <h3 class='h5'>Tuning: {tab.tuning}</h3>
        <p>{tab.description}</p>
        <AudioPlayerAndLinks tab={tab} />
      </section>
      <Divider />
    </>
  ))
}
