---
interface Props {
  title: string;
  description: string;
  keywords: string;
}
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
const { title, description, keywords } = Astro.props;

import '../styles/styles.scss';

// Heading
import '@fontsource/lusitana/400.css';
import '@fontsource/lusitana/700.css';

// Sub heading
import '@fontsource/mallanna';

// Body
import '@fontsource/hind-vadodara/300.css';
import '@fontsource/hind-vadodara/400.css';
import '@fontsource/hind-vadodara/500.css';
import '@fontsource/hind-vadodara/600.css';
import '@fontsource/hind-vadodara/700.css';
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content={description} />
    <meta name='keywords' content={keywords} />
    <meta name='author' content='Anton Emery' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <link rel='stylesheet' href='/styles/normalize.css' />
  </head>
  <body>
    <div class='site-root'>
      <Nav />
      <slot />
      <Footer />
    </div>
  </body>
</html>
